@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/Lexend/Lexend.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kode Mono';
  src: url('@/assets/fonts/Kode Mono/KodeMono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}