$text: #fafafa;
$background: #171717;
$secondary-background: #1a1a1a;
$tertiary-background: #242424;
$primary-color: hsl(184, 100%, 18%);
$primary-color-lightened: #005a61;
$primary-color-darkened: #004c52;
$secondary-color: #62BBC1;
$secondary-color-lightened: #69bdc3;
$accent: #93cfd2;

$danger: #d95151;
$danger-darkened: hsl(0, 64%, 18%);
$warning: #d9b24b;
$warning-darkened: hsl(44, 65%, 18%);
$success: hsl(150, 60%, 58%);
$success-darkened: hsl(150, 60%, 18%);